@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #e94a51;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back {
    background-color: white;
    max-width: 420px;
    height: 424px;
    border-radius: 0px;
    box-shadow: -7px 7px 0px 2px #0f0f0f;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    padding: 20px 0px 20px 20px ;
    gap: 6px;
}

.conteudo > h1 {
    font-weight: 900;
    font-size: 2em;
}

.conteudo > p {
    font-weight: 400;
    font-size: 1.3em;
}

.input-notas > h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    max-width: 200px;
    margin-bottom: 2px;
    font-size: 1.1em;
    font-family: 'Dosis', sans-serif;
}

button {
    margin-top: 10px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: #4a75e9;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
}

button:hover {
    background-color: #1d3881;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #9fff10dc;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 40px;
    width: 380px;
    height: 50px;
    margin-top: 9px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 375px) {
    .back{
        max-width: 312px;
        height: 512px;
    }

    .conteudo > h1 {
        font-size: 1.7em;
    }

    li{
        width: 266px;
    }
}